.route-button{
 background-color: aqua;
 color: white;
 border-radius: 0.9rem;
 padding: 1rem;
 margin: 1rem;
}

.route-header{
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.child-route-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.routes-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.routes-sub-container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    justify-items: center; 
    vertical-align: middle;
    width: 85%;
    margin: 7rem 0rem;
    transition: all 0.5s ease;
    height: 30%;
}

@media screen and (min-width:768px) {
    .routes-sub-container{
        width: 654px;
        margin: 8rem 0rem;
    }
}

@media screen and (min-width:1024px) {
    .routes-sub-container{
        width: 654px;
        margin: 9rem 0rem;
    }
}

@media screen and (min-width:1280px) {
    .routes-sub-container{
        width: 60%;
        margin: 8rem 0rem;
    }
}

@media screen and (min-width:16000px) {
    .routes-sub-container{
        width: 80%;
    }
}

.routes-mobile-main-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-top: 10rem;
    align-items: center;
}

.routes-route-container{
    width: 90%;
    max-width: 300px;
    height: 220px;
    align-items: center;
    justify-content: space-between; 
    border-bottom-right-radius: 1.5rem ;
    border-bottom-left-radius: 1.5rem ;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.routes-route-header{
    background-color: rgb(107, 114, 128);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    height: 2.5rem;
}

.routes-route-pharagraph-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routes-route-link-container{
    height: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.routes-route-link{
    cursor: pointer;
    vertical-align: middle;
    border-bottom-left-radius:1.5rem ;
    border-bottom-right-radius:1.5rem;
    font-style: italic;
    font-weight: bold;
    background: red;
}