.route-button{
 background-color: aqua;
 color: white;
 border-radius: 0.9rem;
 padding: 1rem;
 margin: 1rem;
}

.route-header{
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.child-route-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.routes-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.routes-sub-container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    justify-items: center; 
    vertical-align: middle;
    width: 85%;
    margin: 2rem 0rem;
    transition: all 0.5s ease;
}

@media screen and (min-width:768px) {
    .routes-sub-container{
        width: 654px;
        margin: 3rem 0rem;
    }
}

@media screen and (min-width:1024px) {
    .routes-sub-container{
        width: 654px;
        margin: 4rem 0rem;
    }
}

@media screen and (min-width:1280px) {
    .routes-sub-container{
        width: 654px;
        margin: 5rem 0rem;
    }
}