.main-container{
    display: flex;
    position: fixed; 
    align-items: center; 
    width: 100%; 
    height: 6rem; 
    max-width: 1575px;
    padding: 0px 50px;
    transition: all 0.5s ease;
    justify-content: space-between;   
    z-index: 9999999;
    
    @media (min-width: 768px) { 
        padding: 0px 152px;
    }
}

.toggle-button{
    position: absolute;
    top: 32px;
    right: 0.8rem;
    color: white;
    display: flex;
}

@media screen and (min-width: 1280px) {
    .toggle-button{
        display: none;
    }
}

@media screen and (min-width: 425px) {
    .toggle-button{
        right: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .toggle-button{
        right: 3.5rem;
    }
}

.mobile-toggle-button{
    margin-top: 0.3rem;
    position: absolute;
    right: 0.3rem;
    color: gray;
    display: flex;
}

@media screen and (min-width: 375px) {
    .mobile-toggle-button{
        right: 0.8rem;
    }
}

@media screen and (min-width: 425px) {
    .mobile-toggle-button{
        right: 1.5rem;
    }
}

.side-menu {
    overflow-y: auto; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    border-right-width: 1px; 
    width: 100%;
    transition-duration: 500ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    background: #504136;
    display: flex;
    flex-direction: column;
    z-index: 999999999;
    left: 0;

}

@media (min-width: 768px) {
    .side-menu{
        width: 24rem;
    }
}

@media (min-width: 1280px) {
    .side-menu{
        display: none;
    }
}

.mobile-logo-container{
    display: flex; 
    margin-bottom: 2rem; 
    justify-content: center; 
    color: #ffffff; 
}

@media screen and (min-width:768px) {
    .mobile-logo-container{
        display: none;
    }
}

.socials-logo{
    margin-left: 0.75rem;
    margin-right: 0.75rem; 
    height: 2.5rem; 
    font-size: 2.25rem;
    line-height: 2.5rem; 
}

.nav-links{
    display: none; 
    flex-wrap: nowrap; 
    text-align: center;

    @media (min-width: 1280px) { 
        display: flex; 
    }
}



.mobile-nav-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
}

.mobile-nav-links .nav-link{
    margin:0.75rem 0rem;
}

.nav-link-container{
    width: 0;
    align-items: center;

    @media (min-width:1280px) {
        width: 60%;
        align-items: center;
    }
}

.nav-icon-container{
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;

    @media (min-width:1280px) {
        width: 30%;
        justify-content: start;
    }
}


.nav-link-child{
    position: relative;
    display: block; 
    align-self: center; 
    border-radius: 9999px; 
    width: 100%; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    font-weight: 700; 
    color: #EFF1ED;
}

.mobile-nav-link{
    position: relative;
    display: block; 
    align-self: center; 
    border-radius: 9999px; 
    width: 100%; 
    margin: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    font-weight: 700; 
    color: #EFF1ED;
}

.mobile-nav-link:hover {
    color: #ffffff; 
    background: #1A412E;
}


.nav-link-div{
    position: relative;
    display: block; 
    align-self: center; 
    border-radius: 9999px; 
    width: 100%; 
    font-weight: 700; 
    color: #EFF1ED;
}

.nav-link-div:hover {
    color: #ffffff; 
    background: #1A412E;
}

.sub-routes {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    gap: 1rem;
    position: absolute;
    display: flex;
    justify-content: center ;
    text-align: center;
    align-items: center;
    border-radius: 3.250rem;
    flex-wrap: wrap;
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 999; 
}

.sub-routes a {
    margin: 0.25rem;
    justify-self: center;
    border-radius: 1.275rem;
    display: block;
    padding: 1rem;
    color: #333; /* Example link color */
    text-decoration: none;
}

.sub-routes a:hover {
    background-color: #f0f0f0; /* Example hover background color */
}