.main-image-container{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;    
    height: 100vh;
    width: 100%;

}

.image-header{
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding:1.5rem 0rem;
}

.image{
    height: 450px;
}