.rigthbox-main-container{
    display: flex;
    align-self: center;
    height: 60%;
    width: 90vw;
    height: 90vw;
    flex-direction: column;
    row-gap: 1rem;
    border-width: 1rem;
    border-radius: 2rem;
    padding: 1rem 0.25rem;
    border-color: rgb(39, 37, 37);
    background: rgb(173, 172, 172);
    box-shadow: rgb(204, 219, 232) 15px 15px 50px 2px inset, /* Bottom right */
                rgb(204, 219, 232) -15px -15px 50px 2px inset, /* Top left */
                rgb(204, 219, 232) -15px 15px 50px 2px inset, /* Bottom left */
                rgb(204, 219, 232) 15px -15px 50px 2px inset; /* Top right */;
}

.rigthbox-sub-container{
    border-radius: 1rem;
    align-self: self-end;
    transition: all 0.75s ease;
    height: 100%;
    width: 20%;
    margin: 0rem 0.4rem;
    box-shadow: 
    rgb(0, 0, 0 ) 3px 3px 5px 1px, /* Bottom right */
    rgb(0, 0, 0 ) -3px -3px 5px 1px, /* Top left */
    rgb(0, 0, 0 ) -3px 3px 5px 1px, /* Bottom left */
    rgb(0, 0, 0 ) 3px -3px 5px 1px; /* Top right */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.rigthbox-sub-container > p{
    font-size: 0.75rem;
    line-height: 1.25rem;
}


@media screen and (min-width:375px) {
    .rigthbox-main-container{
        width: 333px;
        height: 333px;
        padding: 1rem 0.5rem;
    }
    .rigthbox-sub-container > p{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width:600px) {
    .rigthbox-main-container{
        width: 333px;
        height: 333px;
    }
}

@media screen and (min-width:840px) {
    .rigthbox-main-container{
        width: 40vw;
        height: 40vw;
        padding: 1rem 0.75rem;
    }
    .rigthbox-sub-container > p{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

.rigthbox-sub-container.first:hover,
.rigthbox-sub-container.fifth:hover,
.rigthbox-sub-container.seventh:hover{
    width: 70%;
}

.rigthbox-sub-container.eigth:hover,
.rigthbox-sub-container.ninth:hover,
.rigthbox-sub-container.tenth:hover,
.rigthbox-sub-container.eleventh:hover{
    width: 50%;
}

.rigthbox-sub-container.sixth:hover,
.rigthbox-sub-container.third:hover,
.rigthbox-sub-container.fourth:hover,
.rigthbox-sub-container.second:hover{
    width: 80%;
}

.rigthbox-sub-container.second:hover{
    width: 160%
}



.rigthbox-sub-container.first{
    width: 50%;
    background-color: black;
}

.rigthbox-sub-container.second{
    width: 80%;
    background-color: indigo;
    color: #41a492;
}

.rigthbox-sub-container.third{
    width: 50%;
    background-color: lemonchiffon;
    color:black;
}

.rigthbox-sub-container.fourth{
    width: 50%;
    background-color: lightskyblue;
}

.rigthbox-sub-container.fifth{
    width: 30%;
    background-color: goldenrod;
}

.rigthbox-sub-container.sixth{
    width: 60%;
    background-color: chartreuse;
}

.rigthbox-sub-container.seventh{
    width: 40%;
    background-color: #3c3131;
}

.rigthbox-sub-container.eigth{
    width: 25%;
    background-color: pink;
}

.rigthbox-sub-container.ninth{
    width: 25%;
    background-color: darkslategray;
}

.rigthbox-sub-container.tenth{
    width: 25%;
    background-color: purple;
}

.rigthbox-sub-container.eleventh{
    width: 25%;
    background-color: lightgreen;
}

.rigthbox-main-container.third,
.rigthbox-sub-container.fourth,
.rigthbox-sub-container.fifth,
.rigthbox-sub-container.eigth,
.rigthbox-sub-container.ninth,
.rigthbox-sub-container.tenth,
.rigthbox-sub-container.eleventh {
    color: black;
}

.rigthbox-sub-container.first,
.rigthbox-sub-container.second,
.rigthbox-sub-container.sixth,
.rigthbox-sub-container.seventh{
    color: #41a492;
}


@media screen and (min-width:780px) {
    .rigthbox-sub-container.first,
    .rigthbox-sub-container.fifth,
    .rigthbox-sub-container.seventh,
    .rigthbox-sub-container.eigth,
    .rigthbox-sub-container.ninth,
    .rigthbox-sub-container.tenth,
    .rigthbox-sub-container.eleventh,
    .rigthbox-sub-container.sixth,
    .rigthbox-sub-container.third,
    .rigthbox-sub-container.fourth,
    .rigthbox-sub-container.second{
        margin: 0rem 0.6rem;
        border-radius: 1rem;
    }
}

@media screen and (min-width:1024px) {
    .rigthbox-main-container{
        gap: 1.5rem;
    }
    .rigthbox-sub-container > p{
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width:1100px) {
    .rigthbox-main-container{
        gap: 1.5rem;
    }
    .rigthbox-sub-container > p{
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

@media screen and (min-width:1280px) {
    .rigthbox-sub-container.first,
    .rigthbox-sub-container.fifth,
    .rigthbox-sub-container.seventh,
    .rigthbox-sub-container.eigth,
    .rigthbox-sub-container.ninth,
    .rigthbox-sub-container.tenth,
    .rigthbox-sub-container.eleventh,
    .rigthbox-sub-container.sixth,
    .rigthbox-sub-container.third,
    .rigthbox-sub-container.fourth,
    .rigthbox-sub-container.second{
        border-radius: 1.25rem;
    }
    .rigthbox-main-container{
        padding: 2rem 1rem;   
    }
    .rigthbox-sub-container > p{
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

@media screen and (min-width:1500px) {
    .rigthbox-sub-container.first,
    .rigthbox-sub-container.fifth,
    .rigthbox-sub-container.seventh,
    .rigthbox-sub-container.eigth,
    .rigthbox-sub-container.ninth,
    .rigthbox-sub-container.tenth,
    .rigthbox-sub-container.eleventh,
    .rigthbox-sub-container.sixth,
    .rigthbox-sub-container.third,
    .rigthbox-sub-container.fourth,
    .rigthbox-sub-container.second{
        border-radius: 1.5rem;
    }
    .rigthbox-main-container{
        padding: 2rem 2rem;
        gap: 2rem;
        border-radius: 2rem;
    }
}

@media screen and (min-width:1800px) {
    .rigthbox-sub-container > p{
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media screen and (min-width:2100px) {
    .rigthbox-sub-container.first,
    .rigthbox-sub-container.fifth,
    .rigthbox-sub-container.seventh,
    .rigthbox-sub-container.eigth,
    .rigthbox-sub-container.ninth,
    .rigthbox-sub-container.tenth,
    .rigthbox-sub-container.eleventh,
    .rigthbox-sub-container.sixth,
    .rigthbox-sub-container.third,
    .rigthbox-sub-container.fourth,
    .rigthbox-sub-container.second{
        border-radius: 2.5rem;
        margin: 0rem 1rem;
    }
    .rigthbox-main-container{
        padding: 3rem 3rem;
        gap: 2rem;
        border-radius: 5rem;
    }
    .rigthbox-sub-container > p{
        font-size: 3rem;
        line-height: 3.5rem;
    }
}
