.conditional-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.conditional-sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 30vh;
    text-align: center;
    gap: 2rem;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}