  .calculator{
    margin-top: 3rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  input {
    border-radius: 0.25rem;
    border-width: 0.15rem;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
    padding: 0.5rem;
    margin: 1rem 0rem;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-indent: 0.75rem;
  }
  
  .calculator-button {
    margin: 1rem 1rem;
    border-color: rgb(22,78,99);
    color: black;
    border-radius: 0.75rem;
    background-color: rgb(165, 243, 252);
    border-width: 0.25rem;
    font-size: 20px;
    border-radius: 5px;
  }
  
  .calculator-button:hover{
    background-color: rgb(34, 211, 238);
    color:white;
  }
  
  .calculator-button:nth-last-child(2){
    background: tomato;
    color: white;
    margin: 1rem;
  }
  
  .calculator-button:nth-last-child(2):hover{
    background: tomato;
    color: black;
  }
  
  .calculator-button:nth-last-child(1) {
    background: red;
    color: white;
    margin: 0rem;
  }

  .calculator-button:first-child {
    margin-left: 0rem;
  }
  
  
  .calculator-button:nth-last-child(1):hover{
    background: tomato;
    color: black;
  }

  sup{
    color: red;
  }

  select {
    display: block;
    width: 100%;
  }

  input[type = range]{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1.25rem;
    height: 1.25rem;
  }

  input[type = range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  input[type="number"]{
    height: 3rem;
  }

  .calculator * h1,
  .calculator * p{
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  @media screen and (min-width:768px) {
    .calculator * h1,
    .calculator * p{
      font-size: 3rem;
      padding-bottom: 1rem;
    }
  }