.data-fetcher-category-container{
    width: 100%;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;
}

.dessert-container{
    position: relative;
    width: 240px;
    height: 240px;
    transition: ease all 0.5s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2.25rem;
    
}

.dessert-container::before {
    content: '';
    position: absolute;
    top: 15px;  
    left: 15px;
    right: 15px;
    bottom: 15px;
    transition: ease all 0.5s;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    border-radius: 2.25rem;
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.dessert-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: ease all 0.5s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    border-radius: 2.25rem;
}


.dessert-container:hover{
    scale: 1.1;
}

.dessert-container:hover::before{
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    content: '';
    border: 5px solid rgba(0,0,0,1);
    box-shadow: 0 0 12px rgba(0,0,0,.7);
    background: rgba(0, 0, 0, 0.0);
}

.dessert-container:hover::after{
    content: '';
    position: absolute;
    transition: ease all 1.3s;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 12px rgba(0,0,0,.7);
}

.price{
    font-weight: 500;
    position: absolute;
    bottom: 175px;
    right: 35px;
    color: white;
    transition: ease all 0.5s;
    font-size: 1.25em;
}

.dessert-container:hover > .price {
    font-weight: 700;
    position: absolute;
    bottom: -40px;
    right: 25px;
    color: black;
    transition: ease all 0.5s;
    font-size: 1.25em;
}

.dessert-header{
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    left: 35px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 0.5s;
    font-size: 1.5em;
    transform: translateZ(0px);
}

.dessert-container:hover > .dessert-header{
    font-weight: 600;
    position: absolute;
    bottom: -40px;
    left: 25px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 0.5s;
    font-size: 1.25em;
    color:black;
    transform: translateZ(0px);
}

.restaurant-header{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 2.5vw;
    line-height: 0.833vw;
}

.category-header{
    text-align: center;
    margin-bottom: 2.5vw;
    font-size: 3vw;
    line-height: 2rem;
}

.data-fetcher-main-container{
    height: 100%;
    width: 100%;
}