.nav-items{
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 95px;
    height: 26px;
}

.nav-items:hover{
    width: 131px;
    height: 40px;
    border-radius: 65px;
    background-color:#1787FC;
    color: white;
}