  .calculator{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100%;
  }
 
  .calculator-button {
    border-color: rgb(22,78,99);
    color: black;
    background-color: rgb(165, 243, 252);
    border-radius: 0.75rem;
    border-width: 0.2rem;
    font-size: 20px;
    margin: 1rem 1rem;
  }
  
  .calculator-button:hover{
    background-color: rgb(34, 211, 238);
    color:white;
  }
  
  .calculator-button:nth-last-child(2){
    background: tomato;
    color: white;
    margin: 1rem;
  }
  
  .calculator-button:nth-last-child(2):hover{
    background: tomato;
    color: black;
  }
  
  .calculator-button:nth-last-child(1) {
    background: red;
    color: white;
    margin: 0rem;
  }

  .calculator-button:first-child {
    margin-left: 0rem;
  }
  
  
  .calculator-button:nth-last-child(1):hover{
    background: tomato;
    color: black;
  }

  sup{
    color: red;
  }

  .calculator * h1,
  .calculator * p{
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  @media screen and (min-width:768px) {
    .calculator * h1,
    .calculator * p{
      font-size: 3rem;
      padding-bottom: 1rem;
    }
  }

  input[type=text],
  input[type=password],
  input[type=number]{
    border-radius: 9999px;
    height: 2.25rem;
    line-height: 2.25rem;
    border-width: 0.15rem;
    border-color: black;
    padding: 0.5rem;
    width: 100%;
    text-indent: 0.5rem;
    margin: 0.3rem 0rem;
  }

  input[type=number]{
    text-align: center;
  }

  label{
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
  }

  select{
    border-radius: 9999px;
    height: 2.25rem;
    line-height: 2.25rem;
    border-width: 0.15rem;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    width: 100%;
    text-indent: 0.5rem;
  }

  select::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
 
  
  input[type = range]{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1.25rem;
    height: 1.25rem;
  }

  input[type = range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  .calculator-form{
    display: flex;
    flex-direction: column;
  }
  