@tailwind base;
@tailwind components;
@tailwind utilities;

button{
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

body{
    background-color: #CCB69B;
}

.PrimaryButton{
    background-color: #41554e;
}

.SecondaryButton{
    background-color: #41554e;
}